<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Company Name</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <a (click)="addBox()" class="btn btn-primary pull-right navbar-btn" style='margin-right: 10px;'>Add Widget</a>
        </div>
        <div class="row navbar-brand pull-right centre-content">
            <div class="col-xs-3">Some Label</div>
            <div class="col-xs-3">Some Action</div>
            <div class="col-xs-3">Sign In</div>
            <div class="col-xs-3">Some Link</div>
        </div>

    </div>
</nav>
<div [ngGrid]="gridConfig">

    <div *ngFor="let box of boxes; let i = index" [(ngGridItem)]="box.config" (onItemChange)="updateItem(i, $event)" (onResize)="onResize(i, $event)" (onDrag)="onDrag(i, $event)">
        <div style="vertical-align: middle; width: 20px; float:left;margin-top: 7px;">
            <tooltip-content #myTooltip>
                 <b>Very</b> <span style="color: #C21F39">Dynamic</span> <span style="color: #00b3ee">Reusable</span>
                <b><i><span style="color: #ffc520">Tooltip With</span></i></b> <small>Html support</small>. 
                 <table class="tool-tip-table table-stripped">
                    <tr>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Country</th>
                    </tr>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                    </tr>
                    <tr>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                    </tr>
                    <tr>
                        <td>Ernst Handel</td>
                        <td>Roland Mendel</td>
                        <td>Austria</td>
                    </tr>
                    <tr>
                        <td>Island Trading</td>
                        <td>Helen Bennett</td>
                        <td>UK</td>
                    </tr>
                    <tr>
                        <td>Laughing Bacchus Winecellars</td>
                        <td>Yoshi Tannamuri</td>
                        <td>Canada</td>
                    </tr>
                    <tr>
                        <td>Magazzini Alimentari Riuniti</td>
                        <td>Giovanni Rovelli</td>
                        <td>Italy</td>
                    </tr>
                </table> 
                <!-- <table class="tool-tip-table table-striped">
                     <thead> 
                        <tr>
                            <th colspan="3">Bid</th>
                        </tr>
                     </thead> 
                     <tbody> 
                        <tr>
                            <td style='font-weight:bold'>Order Id:</td>
                            <td colspan="2">623</td>
                        </tr>
                        <tr>
                            <td style='font-weight:bold'>Status:</td>
                            <td colspan="2">Active</td>
                        </tr>
                        <tr>
                            <td style='font-weight:bold'>Tradeable:</td>
                            <td colspan="2">No</td>
                        </tr>
                        <tr>
                            <td style='font-weight:bold'>Co-Brokering:</td>
                            <td colspan="2">Yes</td>
                        </tr>
                        <tr>
                            <td style='font-weight:bold'>Price:</td>
                            <td colspan="2">234.67</td>
                        </tr>
                        <tr>
                            <td style='font-weight:bold'>Quantity:</td>
                            <td colspan="2">200T</td>
                        </tr>
                        <tr>
                            <td style='font-weight:bold'>Principal:</td>
                            <td colspan="2">PRI</td>
                        </tr>
                        <tr>
                            <td style='font-weight:bold'>Broker:</td>
                            <td colspan="2">BRO</td>
                        </tr>
                        <tr>
                            <td style='font-weight:bold'>Location:</td>
                            <td colspan="2">ARA</td>
                        </tr>
                        <tr>
                            <td style='font-weight:bold'>Delivery Period:</td>
                            <td colspan="2">2H-NOV</td>
                        </tr>
                        
                        <tr>
                            <td style='font-weight:bold'>Pricing Basis 1:</td>
                            <td>70</td>
                            <td style="border-left:2px solid white" >80</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>FIXED</td>
                            <td style="border-left:2px solid white" >FIXED</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>234.44</td>
                            <td style="border-left:2px solid white" >{{bid.pricingOption2.pricingBasis1.price}}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>{{bid.pricingOption1.pricingBasis1.period}}</td>
                            <td style="border-left:2px solid white" >{{bid.pricingOption2.pricingBasis1.period}}</td>
                        </tr>
                        <tr >
                            <td style='font-weight:bold'>Pricing Basis 2:</td>
                            <td >{{bid.pricingOption1.pricingBasis2.percentage}}</td>
                            <td style="border-left:2px solid white" >{{bid.pricingOption2.pricingBasis2.percentage}}</td>
                        </tr>
                        <tr >
                            <td>&nbsp;</td>
                            <td >{{bid.pricingOption1.pricingBasis2.basis}}</td>
                            <td style="border-left:2px solid white" >{{bid.pricingOption2.pricingBasis2.basis}}</td>
                        </tr>
                        <tr >
                            <td>&nbsp;</td>
                            <td >167.23</td>
                            <td style="border-left:2px solid white" >234.33</td>
                        </tr>
                        <tr>
                            <td style='font-weight:bold'>Notes:</td>
                            <td colspan="2">Some notes</td>
                        </tr>
                        <tr>
                            <td style='font-weight:bold'>Last Updated:</td>
                            <td colspan="2">{{bid.lastUpdated | date:'dd-MMM-yy HH:mm'}}</td>
                        </tr>
                     </tbody> 
                </table>                 -->
            </tooltip-content>
            <img [tooltip]="myTooltip" src="assets/gridtitlecollapse.png">
        </div>
        <div class="handle">{{box.name}}
            <div class="box-header-btns pull-right">
                <a title="Remove widget" (click)="removeWidget(i);">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>
        <div [ngSwitch]="box.id" >
            <app-simple-market *ngSwitchCase="1"></app-simple-market>
            <app-simple-market *ngSwitchCase="2"></app-simple-market>
            <app-complex-market *ngSwitchCase="3"></app-complex-market>
        </div>
    </div>
</div>